.redirect-fieldset {
    margin-block: 12px;
}

.redirect-fieldset-legend {
    font-size: 20px;
    margin-bottom: 6px;
    padding-top: 12px;
    width: 100%;
}
.redirect-fieldset-legend--first {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.redirect-fieldset-description {
    font-size: 14px;
    margin-block: 4px;
    color: #666;
}

.redirect-fieldset-inner {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}
.redirect-fieldset-inner .form-group:last-child {
    margin-bottom: 0;
}

/* Apply a border-radius of 2px to all form elements */
.form-group, .form-check, .btn {
    border-radius: 2px;
}

/* Add spacing between form groups for better overview */
.form-group {
    margin-bottom: 15px;
}

.form-check {
    align-items: center;
    display: flex;
}

/* Style checkbox and radio labels to be on the right side of the input */
.form-check label,
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    padding-left: 0;
    padding-right: 15px;
}
.form-check .form-check-label {
    display: inline;
    font-weight: normal;
}
.form-group .form-radio-label {
    font-weight: normal;
}

.form-group .redirection-editor-label {
    margin-bottom: -32px;
}

.input-required {
    color: #fb9696;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
}

/* Style radio buttons to be displayed below each other */
.form-check input[type="radio"] {
    display: inline-block;
}

.form-radio-option {
    align-items: center;
    display: flex;
    margin-bottom: 5px;
}

/* Style text fields and textareas to have a minimum width of 40% */
.form-group input[type="text"],
.form-group select,
.form-group textarea {
    width: 60%;
    box-sizing: border-box;
}

.repeater-drag-handle {
    cursor: move;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 8px;
}

.add-repeater,
.remove-repeater,
.media-upload-button {
    display: block;
    background-color: #cccccc;
    border: 1px solid #666;
    border-radius: 2px;
    margin-top: 6px;
    padding: 2px 12px;
}
.add-repeater:hover,
.remove-repeater:hover,
.media-upload-button:hover {
    background-color: #ffffff;
    cursor: pointer;
}

/* Style the repeater container and its children */
.redirect-repeater {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.redirect-repeater label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Dark grey color for comments */
}

.form-repeater-block {
    margin-bottom: 8px;
}

/* Style the add/remove buttons */
.add-repeater, .remove-repeater {
    margin-top: 10px;
}

/* Style the default_redirect_option select */
#redirection-default select {
    width: 100%;
    box-sizing: border-box;
}

/* Style form group comments */
.form-group small {
    display: block;
    margin-top: 2px;
    color: #666; /* Dark grey color for comments */
}
